@charset "utf-8";
.header{
    position: fixed;
    width: 100%;
    left: 0px;
    top: 0px;
    padding: 15px 0px;
    box-shadow: 0px 0px 9px #666;
    z-index: 999;
    background-color: #FFF;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.bd_clear{
    clear: both;
}
.logo{
    float: left;
}
.logo a{  
    display: inline-block;
    width: 167px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.logo a img{
    width: 100%;
}
.header.shrink .logo a{
    width: 100px;
}
ul.navigation{
    float: right;
    margin: 0px;
    padding: 0px;
    margin-top: 20px;    
}
@media only screen and (min-width: 768px){
    ul.navigation{
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
}
.header.shrink ul.navigation{
    margin-top: 5px;
}
ul.navigation > li{
    list-style: none;
    float: left;
}
ul.navigation > li > a{
    display: inline-block;
    padding: 8px 15px;
    color: #474747;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
ul.navigation > li > a.active{
    color: #ecb400;
}
ul.navigation > li > a:hover{
    color: #ecb400;
    text-decoration: none;
}
ul.navigation > li > a:active,
ul.navigation > li > a:focus{
    text-decoration: none;
    color: #ecb400;
    outline: none;
}
.banner_wrap{
    width: 100%;
    position: relative;
}
.banner_box{
    position: relative;
    width: 100%;
    height: 548px;
}
.banner_box1{
    background: url(../images/banner1.jpg) no-repeat center;
    background-size: cover;    
}
.banner_box2{
    background: url(../images/banner2a.jpg) no-repeat center;
    background-size: cover;    
}

.banner_box3{
    background: url(../images/banner3.jpg) no-repeat center;
    background-size: cover;    
}
@media only screen and (max-width: 767px){
    .banner_box2{
        background-position: right top;
    }
}
.banner_caption{
    position: absolute;
    width: 100%;
    bottom: 50px;
    text-align: right;
}
.cap_block{
    display: inline-block;
    padding: 10px;
    border-left: 1px solid #ecb400;
    color: #FFF;
    max-width: 370px;
    /*background-color: rgba(236, 186, 0, 0.5);*/
    background-color: rgba(0, 0, 0, 0.75);
}
.cap_block h3{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 35px;
    font-weight: bold;
    margin: 0px 0px 15px 0px;
}
.cap_block a{
    display: inline-block;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 8px 15px;
    color: #FFF;
    border: 1px solid #FFF;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-transform: uppercase;
}
.cap_block a:hover{
    color: #ecb400;
    border-color: #ecb400;
    text-decoration: none;
}
.cap_block a:active,
.cap_block a:focus{
    text-decoration: none;
    outline: none;
    color: #FFF;
}
h3.section_head{
    font-weight: 300;
    color: #000;
    text-transform: uppercase;
    font-size: 34px;
    text-align: center;
}
section{
    margin-top: 50px;
}
.line_bg{
    width: 100%;
    text-align: center;
    background-image: url(../images/border.png);
    background-repeat: repeat-x;
    background-position: center;
    margin-top: 30px;
}
.line_bg a{
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 2px solid #ecb400;
    color: #464646;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.line_bg a:hover{
    text-decoration: none;
    color: #ecb400;
    background-color: #ecb400;
    color: #FFF;
}
.line_bg a:active,
.line_bg a:focus{
    text-decoration: none;
    outline: none;
    color: #464646;
}
.line_bg span{
    background-color: #FFF;
    display: inline-block;
    padding: 0px 30px;
}
h3.sub_sec_hd{
    font-weight: 300;
    font-family: 'Roboto Condensed', sans-serif;
    color: #464646;
    text-transform: uppercase;
    font-size: 27px;
    text-align: center;
}
.what_lnks{
    text-align: center;
}
.what_lnks a{
    display: inline-block;
    width: 23%;
    text-align: center;
    height: 200px;
    padding: 30px 30px 0px 30px;
    border-bottom: 1px solid rgba(113, 113, 113, 0.5);
    border-right: 1px solid rgba(113, 113, 113, 0.5);
}
.what_link_wrap .row:last-child .what_links a{
    border-bottom: none;
}
.what_link_wrap .row .col-lg-12 a:last-child{
    border-right: none;
}
.table_what{
    width: 90%;
    margin: 0 auto;
}
.table_what td{
    text-align: center;
    border-right: 1px solid rgba(113, 113, 113, 0.5);
    width: 25%;
}
.table_what td a{
    display: block;
    width: 100%;
    color: #313131;
    padding: 15px 0px;
    height: 132px;
    text-transform: uppercase;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.table_what td a img{
    display: inline-block;
    margin-bottom: 15px;
}
.table_what td a:hover{
    text-decoration: none;
    background-color: #ecb400;
}
.table_what tbody tr:first-child td{
    border-bottom: 1px solid rgba(113, 113, 113, 0.5);
}
.table_what tbody tr td:last-child{
    border-right: none;
}
section.test_wrap{
    /*background-color: #ecb400;*/
    background-image: url(../images/Big%20or%20small.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin-top: 0px;
}
.test_inner{
    background-color: rgba(236, 180, 0, 0.9);    
    padding: 60px 0px;
}
.testimonial_wrap{
    position: relative;
}
ul.testimonial{
    padding: 0px;
}
.testi_inner{
    position: relative;
    background-color: #000;
    color: #b4b4b4;
}
.testi_text{
    padding: 30px 10px 10px 10px;
    position: relative;
}
.testi_img{
    width: 100%;
    height: 266px;
    position: relative;
}
.testi_img1{
    background-image: url(../images/testi1.jpg);
    background-size: cover;
    background-position: top center;
}
.testi_img2{
    background-image: url(../images/testi2.jpg);
    background-size: cover;
    background-position: top center;
}
.testi_person{
    position: absolute;
    width: 100%;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.75);
    color: #FFF;
    padding: 10px;
    text-transform: uppercase;
    top: -60px;
}
.testi_controls{
    text-align: right;
    padding: 10px;
    background-color: #000;
}
.testi_controls a{
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    color: #FFF;
    border: 1px solid #FFF;
    padding-top: 4px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.testi_controls a:active,
.testi_controls a:focus{
    text-decoration: none;
    color: #FFF;
    outline: none;
}
.testi_controls a:hover{
    color: #ecb400;
    border-color: #ecb400;
    text-decoration: none;
}
h4.what_hd{
    font-weight: 300;
    font-size: 29px;
    color: #000;
    margin-top: 0px;
    margin-bottom: 25px;
}
.biz_inner{
    text-align: center;
}
.biz_inner img{
    margin: 0 auto;
}
.biz_inner p{
    height: 160px;
}
.biz_chal .bx-controls{
    padding-top: 30px;
}
.biz_chal a.bx-pager-link{
    background: #9b7600 !important;
}
.biz_chal a.bx-pager-link.active{
    background: #FFF !important;
}
.read_link{
    text-align: right;
    background-image: url(../images/border_wt.png);
    background-position: center;
    background-repeat: repeat-x;
}
.read_link a{
    display: inline-block;
    color: #FFF;
    text-transform: uppercase;
    padding: 8px 0px 8px 15px;
    background-color: #ecb400;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.read_link a:active,
.read_link a:focus{
    text-decoration: none;
    color: #FFF;
    outline: none;
}
.read_link a:hover{
    color: #313131;
    text-decoration: none;    
}
.team_inner{
    text-align: center;
}
.team_img{
    text-align: center;
}
.team_img span{
    display: inline-block;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-color: #CCC;
    text-align: center;
    padding-top: 50px;
}
.team_img span img{
    width: 80%;
    margin: 0 auto;
}
.team_det h4{
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    color: #474747;
}
.team_inner p{
    font-size: 16px;
    font-weight: bold;
    /*color: #ecb400;*/
    color: #474747;
    margin-bottom: 15px;
}
.team_soc a{
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    color: #FFF;
    background-color: #ecb400;
    border-radius: 50%;
    font-size: 16px;
    padding-top: 3px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.team_soc a.fb:hover{
    background-color: #3b5998;
    color: #FFF;
}
.team_soc a.gp:hover{
    background-color: #dd4b39;
    color: #FFF;
}
.team_soc a.tw:hover{
    background-color: #4099FF;
    color: #FFF;
}
.team_controls{
    text-align: center;
    background-image: url(../images/border.png);
    background-position: center;
    background-repeat: repeat-x;
    margin-top: 50px;
}
.team_control_wrap{
    display: inline-block;
    padding: 0px 20px;
    background-color: #FFF;
}
.team_control_wrap a{
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    color: #8f8f8f;
    border: 1px solid #8f8f8f;
    padding-top: 4px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.team_control_wrap a:active,
.team_control_wrap a:focus{
    color: #8f8f8f;
    text-decoration: none;
    outline: none;
}
.team_control_wrap a:hover{
    border-color: #ecb400;
    color: #ecb400;
    text-decoration: none;
    outline: none;
}
section.team_section{
    padding-bottom: 60px;
}
.footer{
    background-color: #2f2f2f;
    color: #FFF;
    padding: 50px 0px 15px 0px;
}
.footer_soc{
    margin-top: 30px;
}
.footer_soc a{
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    color: #2f2f2f;
    background-color: #FFF;
    font-size: 16px;
    padding-top: 3px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 5px;
    font-size: 18px;
}
.footer_soc a.fb:hover{
    background-color: #3b5998;
    color: #FFF;
}
.footer_soc a.gp:hover{
    background-color: #dd4b39;
    color: #FFF;
}
.footer_soc a.tw:hover{
    background-color: #4099FF;
    color: #FFF;
}
h4.footer_hd{
    font-weight: 100;
    font-size: 30px;
    text-transform: uppercase;
    text-align: right;
    margin-top: 70px;
}
p.footer_para{
    padding-left: 15px;
    border-left: 1px solid rgba(210, 210, 210, 0.27);
}
ul.footer_nav{
    padding-left: 15px;
    margin: 0px;
    border-left: 1px solid rgba(210, 210, 210, 0.27);
}
ul.footer_nav > li{
    list-style: none;
}
ul.footer_nav > li > a{
    display: inline-block;
    color: #dcdcdc;
    padding: 5px 0px;
    text-transform: capitalize;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
ul.footer_nav > li > a:hover{
    color: #ecb400;
}
.copyright{
    padding: 15px 0px 0px;
    border-top: 1px solid rgba(106, 106, 106, 0.25);
    margin-top: 30px;
}
.copy_left{
    float: left;
}
.copy_right{
    float: right;
}
.copy_right a{
    display: inline-block;
    vertical-align: middle;
    margin-top: -5px;
}
.nav_trigger{
    display: none;
    position: absolute;
    right: 15px;
    top: 30px;
    width: 40px;
    height: 30px;
    text-align: center;
    color: #ecb400;
    border: 1px solid #ecb400;
    border-radius: 5px;
    cursor: pointer;
    font-size: 21px;
}
.res_row{
    display: none;
}
.res_row a{
    display: block;
    width: 290px;
    margin: 50px auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    color: #313131;
}
.res_row a:hover{
    text-decoration: none;
    color: #ecb400;
}
.res_row a img{
    margin-bottom: 15px;
}
.go_top{
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    color: #FFF;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    padding-top: 6px;
    background-color: rgba(0, 0, 0, 0.4);
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.go_top:hover{
    background-color: rgba(0, 0, 0, 1);
}
.what_sec{
    min-height: 100vh;
    /*position: relative;*/
    background-image: url(../images/dffff.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
    box-shadow: 
        inset 0px 10px 20px -10px #666,
        inset 0px -11px 20px -10px #666;
}
.what_sec_inner{
    position: relative;
    height: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
}
.what_block{
    text-align: center;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;  
}
.what_block a{
    display: inline-block;
    text-transform: uppercase;
    color: #FFF;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;    
}
.what_block a:active,
.what_block a:focus{
    text-decoration: nonel;
    outline: none;
    color: #FFF;
}
.what_block a:hover{
    color: #ecb400;
    text-decoration: none;
}
.what_block a:hover .what_img{
    border-color: #ecb400;
}
.what_img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #FFF;
    text-align: center;
    margin: 0 auto;
    text-align: center;
    line-height: 100px;
    margin-bottom: 30px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; 
}
.what_block1 .what_img{
    background-image: url(../images/wwd01.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
.what_block2 .what_img{
    background-image: url(../images/wwd02.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
.what_block3 .what_img{
    background-image: url(../images/wwd03.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
.what_block4 .what_img{
    background-image: url(../images/wwd04.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
.what_block5 .what_img{
    background-image: url(../images/wwd05.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
.what_block6 .what_img{
    background-image: url(../images/wwd06.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
.what_block7 .what_img{
    background-image: url(../images/wwd07.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
.what_block8 .what_img{
    background-image: url(../images/wwd08.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
.what_block1 a:hover .what_img{
    background-image: url(../images/wwd01a.png);
}
.what_block2 a:hover .what_img{
    background-image: url(../images/wwd02b.png);
}
.what_block3 a:hover .what_img{
    background-image: url(../images/wwd03c.png);
}
.what_block4 a:hover .what_img{
    background-image: url(../images/wwd04d.png);
}
.what_block5 a:hover .what_img{
    background-image: url(../images/wwd05e.png);
}
.what_block6 a:hover .what_img{
    background-image: url(../images/wwd06f.png);
}
.what_block7 a:hover .what_img{
    background-image: url(../images/wwd07g.png);
}
.what_block8 a:hover .what_img{
    background-image: url(../images/wwd08h.png);
}
.what_img img{
    max-width: 80%;
    margin: 0 auto;
}
.what_row1{
    margin-top: 50px;
    margin-bottom: 60px;
}
.what_row2{
    margin-bottom: 60px;
}
@-webkit-keyframes icon-vertical {
    16.65% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px)
    }
    33.3% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px)
    }
    49.95% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px)
    }
    66.6% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px)
    }
    83.25% {
        -webkit-transform: translateY(1px);
        transform: translateY(1px)
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}
@-ms-keyframes icon-vertical {
    16.65% {
        -ms-transform: translateY(8px);
        transform: translateY(8px)
    }
    33.3% {
        -ms-transform: translateY(-6px);
        transform: translateY(-6px)
    }
    49.95% {
        -ms-transform: translateY(4px);
        transform: translateY(4px)
    }
    66.6% {
        -ms-transform: translateY(-2px);
        transform: translateY(-2px)
    }
    83.25% {
        -ms-transform: translateY(1px);
        transform: translateY(1px)
    }
    100% {
        -ms-transform: translateY(0);
        transform: translateY(0)
    }
}
@-moz-keyframes icon-vertical {
    16.65% {
        -moz-transform: translateY(8px);
        transform: translateY(8px)
    }
    33.3% {
        -moz-transform: translateY(-6px);
        transform: translateY(-6px)
    }
    49.95% {
        -moz-transform: translateY(4px);
        transform: translateY(4px)
    }
    66.6% {
        -moz-transform: translateY(-2px);
        transform: translateY(-2px)
    }
    83.25% {
        -moz-transform: translateY(1px);
        transform: translateY(1px)
    }
    100% {
        -moz-transform: translateY(0);
        transform: translateY(0)
    }
}
@keyframes icon-vertical {
    16.65% {
        transform: translateY(8px);
        transform: translateY(8px)
    }
    33.3% {
        transform: translateY(-6px);
        transform: translateY(-6px)
    }
    49.95% {
        transform: translateY(4px);
        transform: translateY(4px)
    }
    66.6% {
        transform: translateY(-2px);
        transform: translateY(-2px)
    }
    83.25% {
        transform: translateY(1px);
        transform: translateY(1px)
    }
    100% {
        transform: translateY(0);
        transform: translateY(0)
    }
}
.what_img{
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.what_block a:hover .what_img,
.what_block a:focus .what_img,
.what_block a:active .what_img{
    -webkit-animation-name: icon-vertical;
    animation-name: icon-vertical;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out
}

















@media only screen and (min-width: 1200px){
    body{
        padding-top: 107px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    .table_what td a{
        height: 150px;
    }
}
@media only screen and (max-width: 767px){
    .logo{
        float: none;
    }
    ul.navigation{
        float: none;
        display: none;
    }
    ul.navigation > li{
        float: none;
    }
    ul.navigation > li > a{
        display: block;
        text-align: center;
    }
    .nav_trigger{
        display: inline-block;
    }
    .testimonial_wrap{
        width: 290px;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .biz_chal{
        text-align: center;
    }
    .footer_log{
        text-align: center;
    }
    h4.footer_hd{
        margin-top: 50px;
        text-align: center;
    }
    p.footer_para{
        text-align: center;
        border-left: none;
        padding-left: 0px;
    }
    .footer_right{
        text-align: center;
    }
    ul.footer_nav{
        border-left: none;
        padding-left: 0px;
    }
    .table_row{
        display: none;
    }
    .res_row{
        display: block;
    }
    .what_block{
        margin-bottom: 30px;
    }
    .what_row1{
        margin-bottom: 0px;
    }
}






.main{
    background-image: url(../images/main_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 450px;
    padding-top: 80px;
}
.main_col{
    text-align: center;
}
.main_col img{
    max-width: 100%;
    margin: 0 auto;
}
.main_col h3{
    font-family: 'Pacifico', cursive;
    color: #000000;
    font-size: 26px;
    text-align: left;
}
.main_col_last img{
    height: 215px;
}
.main_col_last h3{
    text-align: center;
}
body{
    padding-top: 107px;
}
@media only screen and (max-width: 767px){
    .main_col h3{
        text-align: center;
    }
    .main_col{
        margin-bottom: 15px;
    }
}




































